.service img{
    height: 200px;
    border-radius: 10px;
}
 
.service .btn{
    background-color: rgb(212, 173, 173);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: cornsilk;
}
.service .btn .link{
    text-decoration: none;
}