.home h1{
    color: rgb(6, 48, 46);
    font-size: 24px;
}

.home h3{
    color: rgb(238, 237, 236);
    font-weight: 24px;
}
 

.home{
    
    background-image: url( ./adalia-botha-Yh-OYzUQdB8-unsplash.jpg);
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
    padding: 50px;
    line-height: 40px;
    background-color: rgb(185, 56, 110);
    text-align: center;
}