.head-style{
    margin: 20px;
    padding: 10px;
    line-height: 40px;
    background-color: black;
    text-align: center;
}
.head-style h1{
    color: azure;
}
.nav{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 20px;
    
}
 