.reg{
    background-image: url(./thanh-duc-phan-qtBAR40B5D8-unsplash.jpg);
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
    padding: 150px;
    line-height: 40px;
    background-color: rgb(185, 56, 110);
    text-align: center;
}
.login .btn{
    background: green;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-size: 24px;
}