.footer-container {
    background-color:black;  
    display: grid;
    grid-gap: 1rem; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
  }
  
  .column {
    color: aliceblue; 
    padding: 1rem;  
  }