.review img{
border-radius: 10px;
}
.review h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 24px;
}
.review{
    background-image: url(  ./chermiti-mohamed-s_r20f3we4Q-unsplash.jpg);
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
    padding: 150px;
    line-height: 40px;
    background-color: rgb(185, 56, 110);
    text-align: center;
}